/* Estilos gerais */
body {
    font-family: 'Georgia', serif; /* Fonte mais delicada */
    line-height: 1.6;
    background-color: #ffffff; /* Cor de fundo padrão */
    margin: 0;
    padding: 0;
}

header {
    background-color: #e79110;
    border-bottom: 1px solid #ffff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 30px; /* Espaçamento entre o logo e o título */
}

header h1 {
    margin: 0;
    font-size: 2rem; /* Tamanho do título ajustado para um visual mais elegante */
    color: #ffff; /* Cor do texto */
    font-family: 'Georgia', serif; /* Fonte mais delicada */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.2rem; /* Ajuste o tamanho da fonte para um toque mais refinado */
    font-family: 'Georgia', serif; /* Fonte mais delicada */
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #498306;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
