
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Cor de fundo padrão */
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6c57f; /* Cor que lembra o cuscuz */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Restante do seu CSS continua aqui */
